@if (member) {
<div class="row">
  <div class="col-4">
    <div class="card">
      <img
        src="{{ member.photoUrl || '.assets/user.png' }}"
        alt="{{ member.userAlias }}"
        class="card-img img-thumbnail"
      />
      <div class="card-body">
        <div>
          <strong>From:</strong>
          <p>{{ member.userCity }}, {{ member.userCountry }}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{ member.lastActive }}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{ member.created }}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Add</button>
          <button class="btn btn-success">message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset class="member-tabset">
      <tab heading="About {{ member.userAlias }}">
        <h4>About me</h4>
        <p>{{ member.aboutMe }}</p>
      </tab>
      <tab heading="Interests">
        <h4>Interests</h4>
        <p>{{ member.interests }}</p>
      </tab>
      <tab heading="Friends in common">
        <h4>Friends in common</h4>
        <p>Will show friends in common</p>
      </tab>
    </tabset>
  </div>
</div>
}
